
@{
    ViewData["Title"] = "About";
}

<h2>Haqqımızda</h2>

<div class="Aboutus">
    <p>
        ForOffer özündə müxtəlif şirkətlər, mağaza və obyektlərin xüsusi təklif/kampaniyalarını özündə birşəşdirən veb mərkəzdir.
        Burada siz istənilən kateqoriyaya uyğun məhsul və xidmətlərdən harada endirim, hədiyyəli təkliflər, müxtəlif promoların olması haqqında,
        onların nə vaxtdan başlaması və bitmə tarixi, eləcə də onlar haqqında ətraflı məlumatlarla tanış ola biləcəksiniz.

        Üstünlüklərimiz:
        <ul>
            <li>Dolğun, vaxtında yenilənən elanlar</li>
            <li> Etibarlı şirkətlərlə tərəfdaşlıq</li>
            <li> Hər növ ekranlı digital cihazlara rahat adaptasiya oluna bilən app</li>
        </ul>

        Xüsusi təklif?  ForOffer!
    </p>

</div>

